<div dcg-temp="link" dcg-tref>
    <dcg dcg-src="layouts/templates/link.html"></dcg>
</div>

<dcg dcg-temp="card" dcg-tref>
    <dcg dcg-src="layouts/templates/project-card.html"></dcg>
</dcg>

<dcg dcg-temp="btn" dcg-tref>
    <dcg dcg-src="layouts/templates/btn.html"></dcg>
</dcg>

<dcg dcg-temp="skill" dcg-tref>
    <dcg dcg-src="layouts/templates/skill.html"></dcg>
</dcg>

<dcg dcg-temp="navbar" dcg-tref>
    <dcg dcg-src="layouts/templates/navbar.html"></dcg>
</dcg>

<dcg dcg-temp="contact-icon" dcg-tref>
    <dcg dcg-src="layouts/templates/contact-icon.html"></dcg>
</dcg>

<dcg dcg-temp="gallery-mask" dcg-tref>
    <dcg dcg-src="layouts/templates/gallery-mask.html"></dcg>
</dcg>

<dcg dcg-temp="gallery-item" dcg-tref>
    <dcg dcg-src="layouts/templates/gallery-item.html"></dcg>
</dcg>

<dcg dcg-temp="project-gallery" dcg-tref>
    <dcg dcg-src="layouts/templates/project-gallery.html"></dcg>
</dcg>

<div dcg-obj="navbar" dcg-json>
    <dcg dcg-src="layouts/data/navbar.json"></dcg>
</div>

<div dcg-obj="projects" dcg-json>
    <dcg dcg-src="layouts/data/projects.json"></dcg>
</div>

<div dcg-obj="skills" dcg-json>
    <dcg dcg-src="layouts/data/skills.json"></dcg>
</div>

<div dcg-obj="contacts" dcg-json>
    <dcg dcg-src="layouts/data/contacts.json"></dcg>
</div>