<div data-set="temp:link">
    <cog data-src="layouts/templates/link.html"></cog>
</div>

<div data-set="temp:projectCard">
    <cog data-src="layouts/templates/project-card.html"></cog>
</div>

<div data-set="temp:btn">
    <cog data-src="layouts/templates/btn.html"></cog>
</div>

<div data-set="temp:skill">
    <cog data-src="layouts/templates/skill.html"></cog>
</div>

<div data-set="temp:navbar">
    <cog data-src="layouts/templates/navbar.html"></cog>
</div>

<div data-set="temp:contactIcon">
    <cog data-src="layouts/templates/contact-icon.html"></cog>
</div>

<div data-set="temp:galleryMask">
    <cog data-src="layouts/templates/gallery-mask.html"></cog>
</div>

<div data-set="temp:galleryItem">
    <cog data-src="layouts/templates/gallery-item.html"></cog>
</div>

<div data-set="temp:projectGallery">
    <cog data-src="layouts/templates/project-gallery.html"></cog>
</div>

<div data-set="json:navbar">
    <cog data-src="layouts/data/navbar.json"></cog>
</div>

<div data-set="json:projects">
    <cog data-src="layouts/data/projects.json"></cog>
</div>

<div data-set="json:skills">
    <cog data-src="layouts/data/skills.json"></cog>
</div>

<div data-set="json:contacts">
    <cog data-src="layouts/data/contacts.json"></cog>
</div>