<body class="f6 f5-l overflow-hidden">
  <cog data-src="layouts/_styles.html"></cog>

  <cog data-prop='data:"%navbar% as _navbar", temp:"navbar"'></cog>

  <div class="bg-dark-gray light-gray b-shadow-3">
    <div class="grid center one pv4 ph2">
      <div class="full four-fifth-700 three-fourth-1000 two-fourth-1500 pa2 mt5" data-prop="html:'%section.about.content%'">
        {{section.about.content}}
      </div>
    </div>
  </div>
  <div class="bg-mid-gray light-gray">
    <div class="grid center one pv4 ph2">
      <div class="full four-fifth-700 three-fourth-1000 two-fourth-1500 pa2">
        <h1 id="contact" class="db tc f1 lh-title" data-prop="text:'%section.contact.title%'">{{section.contact.title}}</h1>
        <div class="full three-fourth-500 ph2 center" data-prop="html:'%section.contact.content%'">
          {{section.contact.content}}
        </div>
        <div class="grid center one pa3">
          <div class="one two-third-600 half-1100 bg-dark-gray b-shadow-1 br3 pa4">
            <div class="grid center three" data-prop="repeat:'%contacts% as _contact', temp:'contactIcon'">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <cog data-src="layouts/_scripts.html"></cog>
</body>
