<body class="f6 f5-l overflow-hidden">
  <cog data-src="layouts/_styles.html"></cog>
  <div class="bg-black relative overflow-hidden">
    <div class="one h5 absolute z-1 w-100 gsap-landing-bg" style="filter: blur(20px);"></div>
    <div class="grid one four-fifth-700 three-fourth-1000 two-fourth-1500 center z-2 relative">
      <div class="one h5 br-ns bl-ns bw2-ns b--dark-gray gsap-landing-bg">
        <div class="white tc absolute position-center">
          <div class="db f2 f1-ns">
            <span class="gsap-landing-letter">A</span><span class="gsap-landing-letter">l</span><span class="gsap-landing-letter">p</span><span class="gsap-landing-letter">e</span><span class="gsap-landing-letter">r</span>
            <span class="gsap-landing-letter">D</span><span class="gsap-landing-letter">e</span><span class="gsap-landing-letter">r</span><span class="gsap-landing-letter">m</span><span class="gsap-landing-letter">a</span><span class="gsap-landing-letter">n</span>
          </div>
          <span class="db f4 f3-ns gsap-landing-title">Web Developer & Junior Programmer</span>
        </div>
      </div>
    </div>
  </div>

  <cog data-prop='data:"%navbar% as _navbar", temp:"navbar"'></cog>

  <div class="bg-mid-gray light-gray b-shadow-2">
    <div class="grid center one pv4">
      <div class="one four-fifth-700 three-fourth-1000 two-fourth-1500 pa2 mt5">
        <h1 class="tc ruled" data-prop='text:"%section.briefing.title%"'>{{section.briefing.title}}</h1>
        <div class="full three-fourth-500 ph2 center" data-prop='html:"%section.briefing.content%"'>{{section.briefing.content}}</div>
        <div class="grid center one two-600">
          <div class="pa3">
            <div class="bg-dark-gray b-shadow-1 br3 pa2 pb3">
              <h3 class="tc" data-prop='text:"%section.frequently.title%"'>{{section.frequently.title}}</h3>
              <div class="pa1" data-prop='html:"%section.frequently.content%"'>{{section.frequently.content}}</div>
              <div class="grid center three four-1000" data-prop="repeat:'%skills.frequently% as skill', temp:'_skill'">
                <div class="pa1" data-prop="temp:'skill', data:'%%skill%% as _skill'">
                </div>
              </div>
            </div>
          </div>
          <div class="pa3">
            <div class="bg-dark-gray b-shadow-1 br3 pa2 pb3">
              <h3 class="tc" data-prop='text:"%section.familiar.title%"'>{{section.familiar.title}}</h3>
              <div class="pa1" data-prop='html:"%section.familiar.content%"'>{{section.familiar.content}}</div>
              <div class="grid center three four-1000" data-prop="repeat:'%skills.familiar% as skill', temp:'_skill'">
                <div class="pa1" data-prop="temp:'skill', data:'%%skill%% as _skill'">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-dark-gray light-gray b-shadow-3">
    <div class="grid center one pv4">
      <div class="one four-fifth-700 three-fourth-1000 two-fourth-1500 pa2">
        <h1 class="tc ruled" data-prop='text:"%section.portfolio.title%"'>{{section.portfolio.title}}</h1>
        <div class="full three-fourth-500 ph2 center" data-prop='html:"%section.portfolio.content%"'>{{section.portfolio.content}}</div>
        <div class="grid center one two-500 three-1000 items-center" data-prop="repeat:'%projects% as project', temp:'_projectCard'">
          <div class="pa2 pa3-l" data-prop="{temp:'projectCard', data:'%%project%% as _project'}, {if:'%project._index% &lt; 3'}">
          </div>
        </div>
        <div class="grid center one mt4">
          <div class="one half-500 fourth-1000 pa2" data-prop="temp:'btn', data:'%section.portfolio.btn% as _btn'">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-mid-gray light-gray">
    <div class="grid center one bg-mid-gray pv4">
      <div class="one four-fifth-700 three-fourth-1000 two-fourth-1500 pa2">
        <h1 class="tc ruled" data-prop="text:'%section.contact.title%'">{{section.contact.title}}</h1>
        <div class="grid center one pa3">
          <div class="one two-third-600 half-1100 bg-dark-gray b-shadow-1 br3 pa4">
            <div class="grid center three" data-prop="repeat:'%contacts% as _contact', temp:'contactIcon'">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <cog data-src="layouts/_scripts.html"></cog>
</body>
