<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="assets/fonts/avenirnextroundedpro/index.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>

  <dcg dcg-temp="navbar" dcg-tref>
    <dcg dcg-src="layouts/templates/navbar.html"></dcg>
  </dcg>

  <dcg dcg-temp="projectCard" dcg-tref>
    <dcg dcg-src="layouts/templates/project-card.html"></dcg>
  </dcg>

  <div class="container-fluid position-relative" id="landing-base" style="height:35rem;">
    <div class="row h-100" id="landing">
      <div class="md:col-8 m-auto h-100 position-relative" id="landing-col">
        <div class="position-absolute top-50 start-50 translate-middle text-center w-100" id="landing-title">
          <h1 class="text-white mb-5">Alper Derman</h1>
          <h4 class="text-white">{{landing.subtitle}}</h4>
        </div>
      </div>
    </div>
  </div>

  <dcg dcg-temp="navbar" dcg-tren></dcg>

  <div class="py-5"></div>

  <div class="container pb-5">
    <section id="about">
      <div class="text-center mb-3">
        <h3>{{about.title}}</h3>
        <h6 class="text-muted text-uppercase">{{about.subtitle}}</h6>
      </div>
      <div class="row mb-5">
        <div class="md:col-8 m-auto">
          <div class="card">
            {{about.card}}
          </div>
        </div>
      </div>
    </section>

    <section class="mt-6" id="services">
      <div class="text-center mb-3">
        <h3>{{services.title}}</h3>
        <h6 class="text-muted text-uppercase">{{services.subtitle}}</h6>
      </div>
      <div class="row">
        <div class="md:col-6 m-auto">
          <div class="card mb-5">
            {{services.card.front}}
          </div>
        </div>
        <div class="md:col-6 m-auto">
          <div class="card mb-5">
            {{services.card.back}}
          </div>
        </div>
        <div class="md:col-6 m-auto">
          <div class="card mb-5">
            {{services.card.cross}}
          </div>
        </div>
      </div>
    </section>

    <section class="mt-6">
      <div class="text-center mb-3">
        <h3>{{portfolio.title}}</h3>
        <h6 class="text-muted text-uppercase">{{portfolio.subtitle}}</h6>
      </div>
      <div class="row">
        <dcg dcg-repeat="portfolio.projects as card">
          <dcg dcg-if="{{card._index}} < 3">
            <dcg dcg-temp="projectCard" dcg-tobj="{{card}}" dcg-tren></dcg>
          </dcg>
        </dcg>
      </div>
      <div class="row">
        <div class="col-12 md:col-4 m-auto">
          <a class="btn btn-secondary w-100" dcg:href="{{portfolio.btn.more.href}}">{{portfolio.btn.more.title}}</a>
        </div>
      </div>
    </section>

    <section class="mt-6" id="contact">
      <div class="text-center mb-3">
        <h3>{{contact.title}}</h3>
        <h6 class="text-muted text-uppercase">{{contact.subtitle}}</h6>
      </div>
      <div class="row mb-5">
        <div class="col-12 md:col-6 m-auto">
          <div class="card">
          <div class="col-12">
            <h5 class="text-center text-muted">{{contact.social}}</h5>
          </div>
          <hr class="mt-3">
            <div class="row text-center">
              <div class="col-4"><a href="{{contact.hrefLinkedin}}" target="_blank"><i class="linkedin icon fs-6"></i><span class="d-block">LinkedIn</span></a></div>
              <div class="col-4"><a href="{{contact.hrefGithub}}" target="_blank"><i class="github icon fs-6"></i><span class="d-block">GitHub</span></a></div>
              <div class="col-4"><a href="{{contact.hrefCodepen}}" target="_blank"><i class="codepen icon fs-6"></i><span class="d-block">CodePen</span></a></div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <script src="assets/js/jquery/jquery.js"></script>
  <script src="assets/js/jquery/ui.js"></script>
  <script src="assets/js/jquery/validate.js"></script>
  <script src="assets/js/jquery/visibility.js"></script>
  <script src="assets/js/grayshift-babel.js"></script>
  <script src="assets/js/nav.js"></script>
</body>
</html>
