<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="assets/fonts/avenirnextroundedpro/index.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>

  <dcg dcg-temp="navbar" dcg-tref>
    <dcg dcg-src="layouts/templates/navbar.html"></dcg>
  </dcg>

  <dcg dcg-temp="projectCard" dcg-tref>
    <dcg dcg-src="layouts/templates/project-card.html"></dcg>
  </dcg>

  <dcg dcg-temp="navbar" dcg-tren></dcg>

  <div class="py-5"></div>
  <div class="py-5"></div>

  <div class="container py-5">
    <section>
      <div class="text-center mb-3">
        <h3>{{portfolio.title}}</h3>
        <h6 class="text-muted text-uppercase">{{portfolio.subtitle}}</h6>
      </div>

      <dcg dcg-temp="projectCard" dcg-tren></dcg>

    </section>
  </div>

  <script src="assets/js/jquery/jquery.js"></script>
  <script src="assets/js/jquery/ui.js"></script>
  <script src="assets/js/jquery/validate.js"></script>
  <script src="assets/js/jquery/visibility.js"></script>
  <script src="assets/js/nav.js"></script>
</body>
</html>