<body class="f6 f5-l overflow-hidden">
  <cog data-src="layouts/_styles.html"></cog>

  <cog data-prop='data:"%navbar% as _navbar", temp:"navbar"'></cog>

  <div class="bg-dark-gray light-gray min-vh-100">
    <div class="grid center one pv4">
      <div class="one four-fifth-700 three-fourth-1000 two-fourth-1500 pa2 mt5">
        <h1 class="tc ruled" data-prop="text:'%section.portfolio.title%'">{{section.portfolio.title}}</h1>
        <div class="grid center one two-500 three-1000 items-center" data-prop="repeat:'%projects% as project', temp:'_projectCard'">
          <div class="pa2 pa3-l" data-prop="temp:'projectCard', data:'%%project%% as _project'">
          </div>
        </div>
      </div>
    </div>
  </div>

  <cog data-src="layouts/_scripts.html"></cog>
</body>
