<body class="f6 f5-l">
  <cog data-src="layouts/_styles.html"></cog>

  <cog data-src="layouts/_load.html"></cog>

  <cog data-prop='temp:"galleryMask"'></cog>

  <cog data-prop='data:"navbar as _navbar", temp:"navbar"'></cog>

  <div class="bg-mid-gray light-gray min-vh-100">
    <div class="grid center one pv4">
      <div class="one four-fifth-700 three-fourth-1000 two-fourth-1500 pa2 mt5">
        <h1 class="tc ruled" data-prop="text:'%section.project.title%'">{{section.project.title}}</h1>
        <div class="w-100 pa4 br3 mb3">
          <div class="grid one two-600">
            <div>
              <ul class="list pa0 ma0" data-prop="repeat:'section.project.details as _item', temp:'_item'">
                <li><span class="light-silver ttc" data-prop="html:'%%_item%.title%:'">{{li.title}}:</span> <span data-prop="html:'%%_item%.detail%'">{{li.detail}}</span></li>
              </ul>
            </div>
            <div>
              <ul class="list pa0 ma0" data-prop="repeat:'section.project.misc as _item', temp:'_item'">
                <li><span class="light-silver ttc" data-prop="html:'%%_item%.title%:'">{{li.title}}:</span> <span data-prop="html:'%%_item%.detail%'">{{li.detail}}</span></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="bg-dark-gray b-shadow-1 w-100 pa4 br3" data-prop="html:'%section.project.content%'">
          {{section.project.content}}
        </div>
      </div>
    </div>
  </div>

  <cog data-src="layouts/_scripts.html"></cog>
</body>
