<!DOCTYPE html>
<html lang="en">
  <head>
    <dcg dcg-src="layouts/_styles.html"></dcg>
  </head>
  <body class="f6 f5-l">

    <dcg dcg-src="layouts/_load.html"></dcg>

    <dcg dcg-temp="gallery-mask" dcg-tren></dcg>

    <dcg dcg-temp="navbar" dcg-tren></dcg>

    <div class="bg-mid-gray light-gray min-vh-100">
      <div class="grid center one pv4">
        <div class="one four-fifth-700 three-fourth-1000 two-fourth-1500 pa2 mt5">
          <h1 class="tc ruled">{{project.title}}</h1>
          <div class="w-100 pa4 br3 mb3">
            <div class="grid one two-600">
              <div>
                <ul class="list pa0 ma0">
                  <dcg dcg-repeat="project.details as li">
                    <li><span class="light-silver ttc">{{li.title}}:</span> {{li.detail}}</li>
                  </dcg>
                </ul>
              </div>
              <div>
                <ul class="list pa0 ma0">
                  <dcg dcg-repeat="project.misc as li">
                    <li><span class="light-silver ttc">{{li.title}}:</span> {{li.detail}}</li>
                  </dcg>
                </ul>
              </div>
            </div>
          </div>
          <div class="bg-dark-gray b-shadow-1 w-100 pa4 br3">
            {{project.content}}
          </div>
        </div>
      </div>
    </div>

    <dcg dcg-src="layouts/_scripts.html"></dcg>
  </body>
</html>
